// Sass Variables and Mixins
$main-color: rgba(117, 200, 201, 1);
$main-lighter: rgba(117, 200, 201, 0.5);
$light-grey: rgba(189, 195, 199, 1.0);
$lighter-grey: rgba(189, 195, 199, 0.5);
$lightest-grey: rgba(189, 195, 199, 0.1);
$basic-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.26);
$bigger-box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2);

@mixin basic-transition($seconds) {
  transition: box-shadow $seconds cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: $seconds;
}

// Basics (Typography, headers)
html {
}

body {
  background: white;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

.site-header {
  background-color: white;
  .wrap {
    padding: 10px 0;
    .title-area {
      float: none;
      margin: 0 auto;
      min-height: 170px;
      width: 400px;
      .site-title {
        a {
          min-height: 170px;
        }
      }
    }
    .widget-area {
      float: none;
      text-align: center;
      width: 100%;
      .search-form {
        width: 30%;
      }
    }
  }
}
.site-inner {
  padding-top: 0;
}

main {
  background-color: white;
  article {
    &:first-child {
      padding-top: 0;
      .attachment-excerpt-thumbnail {
        // display: none;
      }
      h1.entry-title {
        font-size: 36px;
      }
    }
    &.entry:first-child {
      padding-top: 0;
    }
    &.entry {
      margin-bottom: 0px;
      padding: 15px 40px;
    }
    &.entry:last-child {
      margin-bottom: 40px;
    }
    .entry-header {
      .entry-meta {
        margin-bottom: 20px;
      }
    }
    .entry-content {
      display: inline-block;
      padding-bottom: 10px;
      .attachment-excerpt-thumbnail {
        float: left;
        margin-right: 20px;
      }
      .entry-title {
        font-size: 26px;
      }
      .more-link {
        display: block;
        padding-top: 20px;
        text-align: right;
        text-transform: uppercase;
      }
      p {
        margin:10px 0 0;
      }
    }
    .entry-footer {
      .entry-meta {
        border-top: 0;
        border-bottom: 2px solid #f5f5f5;
        padding-bottom: 15px;
        padding-top: 0;
      }
    }
  }
}

.sidebar {
  background: #f8f8f8;
  .widget:first-child {
    background: #f8f8f8;
    // padding-top: 0;
  }
  .widget {
    margin: 0;
    padding: 20px;
    .widget-wrap {
      background-color: white;
      padding: 20px;
    }
  }
}

.archive-pagination {
  padding: 0 40px;
  li {
    &.active {
      a {
        color: white;
      }
    }
    a {
      background-color: white;
      color: #333;
      &:hover {
        color: white;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  main {
    article {
      &.entry {
        padding-left: 0;
        padding-right: 0;
        .entry-content {
          display: block;
          text-align: center;
          img {
            float: none;
          }
          h1, p {
            text-align: left;
          }
        }
      }
    }
  }
}

